### Датасет airquality

In [1]:
# импортируем библиотеку datasets
library(datasets)

In [ ]:
# другие датасеты этой библиотеки можно посмотреть через параметр help
# library(help = 'datasets')

In [2]:
# посмотрим на первые строки датафрейма
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [3]:
# выведем общее количество строк и столбцов
dim(airquality)

[1] 153   6

In [4]:
# оценим общие статистические показатели по каждому из столбцов
summary(airquality)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

### Библиотека naniar

In [5]:
# установим библиотеку naniar
install.packages('naniar')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gridExtra’, ‘plyr’, ‘norm’, ‘visdat’, ‘viridis’, ‘UpSetR’

In [6]:
# импортируем ее
library(naniar)

In [7]:
# посмотрим на пропуски в абсолютных значениях и в процентах
miss_var_summary(airquality)

  variable n_miss pct_miss
1 Ozone    37     24.2
2 Solar.R   7      4.58
3 Wind      0      0
4 Temp      0      0
5 Month     0      0
6 Day       0      0

In [8]:
# для теста Литтла используем функцию mcar_test()
mcar_test(airquality)

  statistic df p.value     missing.patterns
1 35.10613  14 0.001417781 4

### Датасет "Титаник"

In [10]:
# импортируем файл с помощью функции read.csv()
# пропишем, как именно могут маркироваться пропущенные значения
titanic = read.csv('/content/train.csv', na.strings = c("NA", "NaN", ""))

# посмотрим на результат
head(titanic)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500 NA    S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250 NA    S
4 113803           53.1000 C123  S
5 373450            8.0500 NA    S
6 330877            8.4583 NA    Q

In [11]:
# посмотрим на количество и процент пропусков по столбцам
miss_var_summary(titanic)

   variable    n_miss pct_miss
1  Cabin       687    77.1
2  Age         177    19.9
3  Embarked      2     0.224
4  PassengerId   0     0
5  Survived      0     0
6  Pclass        0     0
7  Name          0     0
8  Sex           0     0
9  SibSp         0     0
10 Parch         0     0
11 Ticket        0     0
12 Fare          0     0

In [12]:
# проведем тест Литтла
mcar_test(titanic)

  statistic df p.value missing.patterns
1 598.5422  43 0       5